/* Lora by Olga Karpushina and Alexei Vanyashin
   http://www.cyreal.org/2012/07/lora/
   SIL Open Font License 1.1   
*/

@font-face {
  font-family: "Lora";
  font-style: normal;
  src: url("./font/Lora-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  font-style: italic;
  src: url("./font/Lora-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  font-weight: bold;
  font-style: normal;
  src: url("./font/Lora-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  font-weight: bold;
  font-style: italic;
  src: url("./font/Lora-BoldItalic.ttf") format("truetype");
}

/* Libre Baskerville by Pablo Impallari and Rodrigo Fuenzalida
   http://www.impallari.com/projects/overview/libre-baskerville
   SIL Open Font License 1.1
*/

@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  src: url("./font/LibreBaskerville-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Baskerville";
  font-style: italic;
  src: url("./font/LibreBaskerville-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Baskerville";
  font-weight: bold;
  font-style: normal;
  src: url("./font/LibreBaskerville-Bold.ttf") format("truetype");
}

