/* Stylesheet for Lectrote windows
  
   This sets up the top-level framework for the play.html window (and
   other interpreter-specific play windows). Everything inside the
   #gameport is styled by el-glkote.css.
*/

body {
  margin: 0px;
  height: 100%;
}

#content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}

#gameport {
  position: relative;
  overflow: hidden;
  background: inherit;
  height: 100%;
  margin: 0px 0px;
}

#searchbar {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1em;

  background: #DDD;
  border-left: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  -webkit-border-bottom-left-radius: 4px;
}

.SepiaTheme #searchbar {
  background: #DDD;
  border-color: #AAA;
}
.SlateTheme #searchbar {
  background: #333;
  border-color: #666;
}
.DarkTheme #searchbar {
  background: #333;
  border-color: #666;
}
