<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Glulx Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.glulx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon-glulx.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Z-code Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zcode</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon-zcode.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Hugo Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.hugo</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon-hugo.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Blorbed IF Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.blorb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon-blorb.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Blorbed Glulx Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.blorb.glulx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon-gblorb.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Blorbed Z-code Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.blorb.zcode</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon-zblorb.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>json</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JSON file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeIconFile</key>
			<string>icon-json.icns</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.glulx</string>
			<key>UTTypeDescription</key>
			<string>Glulx Story File</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eblong.com/zarf/glulx/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>ulx</string>
				<key>public.mime-type</key>
				<string>application/x-glulx</string>
			</dict>
			<key>UTTypeIconFile</key>
			<string>icon-glulx.icns</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.zcode</string>
			<key>UTTypeDescription</key>
			<string>Z-code Story File</string>
			<key>UTTypeReferenceURL</key>
			<string>http://inform-fiction.org/zmachine/standards/z1point1/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>z3</string>
					<string>z4</string>
					<string>z5</string>
					<string>z6</string>
					<string>z7</string>
					<string>z8</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-zmachine</string>
			</dict>
			<key>UTTypeIconFile</key>
			<string>icon-zcode.icns</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.hugo</string>
			<key>UTTypeDescription</key>
			<string>Hugo Story File</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.generalcoffee.com/hugo/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>hex</string>
				<key>public.mime-type</key>
				<string>application/x-hugo</string>
			</dict>
			<key>UTTypeIconFile</key>
			<string>icon-hugo.icns</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.blorb</string>
			<key>UTTypeDescription</key>
			<string>Blorbed IF Story File</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eblong.com/zarf/blorb/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>blorb</string>
					<string>blb</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-blorb</string>
			</dict>
			<key>UTTypeIconFile</key>
			<string>icon-blorb.icns</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.blorb.glulx</string>
			<key>UTTypeDescription</key>
			<string>Blorbed Glulx Story File</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eblong.com/zarf/blorb/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>gblorb</string>
				<key>public.mime-type</key>
				<string>application/x-blorb;profile=&quot;glulx&quot;</string>
			</dict>
			<key>UTTypeIconFile</key>
			<string>icon-gblorb.icns</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.blorb.zcode</string>
			<key>UTTypeDescription</key>
			<string>Blorbed Z-code Story File</string>
			<key>UTTypeReferenceURL</key>
			<string>http://inform-fiction.org/zmachine/standards/z1point1/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>zblorb</string>
				<key>public.mime-type</key>
				<string>application/x-blorb;profile=&quot;zcode&quot;</string>
			</dict>
			<key>UTTypeIconFile</key>
			<string>icon-zblorb.icns</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.glksave</string>
			<key>UTTypeDescription</key>
			<string>Glk Save File</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eblong.com/zarf/glk/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>glksave</string>
				<key>public.mime-type</key>
				<string>application/x-glksave</string>
			</dict>
			<key>UTTypeIconFile</key>
			<string>icon-glksave.icns</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.glkdata</string>
			<key>UTTypeDescription</key>
			<string>Glk Data File</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eblong.com/zarf/glk/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>glkdata</string>
				<key>public.mime-type</key>
				<string>application/x-glkdata</string>
			</dict>
			<key>UTTypeIconFile</key>
			<string>icon-glkdata.icns</string>
		</dict>
	</array>
</dict>
</plist>
